[submodule "common/libcodecs"]
	path = common/libcodecs
	url = https://github.com/philippe44/libcodecs
[submodule "common/crosstools"]
	path = common/crosstools
	url = https://github.com/philippe44/crosstools
[submodule "common/libpthreads4w"]
	path = common/libpthreads4w
	url = https://github.com/philippe44/libpthreads4w
[submodule "common/cspot"]
	path = common/cspot
	url = http://www.github.com/philippe44/cspot
	branch = feat/cdn
[submodule "common/libmbedtls"]
	path = common/libmbedtls
	url = https://github.com/philippe44/libmbedtls
[submodule "spotraop/libraop"]
	path = spotraop/libraop
	url = https://github.com/philippe44/libraop
[submodule "spotraop/http-fetcher"]
	path = spotraop/http-fetcher
	url = https://github.com/philippe44/http-fetcher
[submodule "spotraop/libopenssl"]
	path = spotraop/libopenssl
	url = https://github.com/philippe44/libopenssl
[submodule "spotraop/libmdns"]
	path = spotraop/libmdns
	url = https://github.com/philippe44/libmdns
[submodule "common/libpupnp"]
	path = common/libpupnp
	url = https://github.com/philippe44/libpupnp
