# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
config.xml

# Executables
*.out
*.app

# Build directories
build*/

# Misc files
*.sln
*.bak
*.save
*.cmd
*.bat
*.sh
*.old
*.log
.vs/
pairing/
spotraop/bin
spotupnp/bin
spotconnect*.zip

# Added files
!build.cmd
!build.sh
client_info.h

Spot*.zip
